<p id="notice"><%= notice %></p>

<p>
  <strong>Ficha:</strong>
  <%= @cuero.ficha %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @cuero.programa %>
</p>

<%= link_to 'Edit', edit_cuero_path(@cuero) %> |
<%= link_to 'Back', cueros_path %>
