<%= simple_form_for @funcionario, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-inputs">
    <%= f.input :nombre %>
  </div>

  <div class="form-inputs">
    <%= f.input :apellidos %>
  </div>

  <div class="form-inputs">
    <%= f.input :identificacion %>
  </div>

  <div class="field">
    Centro: 
    <%= f.collection_select :centro, Centro.all, :id, :nombre, class: "form-control", prompt: "Seleccione Centro" %>
  </div>

  <div class="field">
    Programa:
    <%= f.collection_select :programa, Programa.all, :id, :nombre, class: "form-control", prompt: "Seleccione Programa"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Crear funcionario', :class => 'btn-primary' %>
    <%= link_to t('.cancelar', :default => t("helpers.links.cancelar")),
                funcionarios_path, :class => 'btn' %>
  </div>
<% end %>