<%- model_class = funcionario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag funcionarios_path, :method => 'get' do %>
    <% content_tag :label do %>
      <br>
        Identificación:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar", :name => nil %>
      </br>
    <%end%>
  <%end%>
</div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Identificacion</th>
      <th>Centro</th>
      <th>Programa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= link_to funcionario.id, funcionario_path(funcionario) %></td>
        <td><%= funcionario.nombre %></td>
        <td><%= funcionario.apellidos %></td>
        <td><%= funcionario.identificacion %></td>
        <td><%= funcionario.centro %></td>
        <td><%= funcionario.programa %></td>
        <td><%= link_to 'Ver', funcionario, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Eliminar', funcionario, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.Nuevo funcionario")),
            new_funcionario_path,
            :class => 'btn btn-primary' %>

<%= will_paginate @funcionarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Funcionarios: <%= @funcionarios.count %>