
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @funcionario.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @funcionario.apellidos %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @funcionario.identificacion %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @funcionario.centro.nombre %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @funcionario.programa.nombre %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Atras', funcionarios_path %>
