<%- model_class = funcionario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @funcionario.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @funcionario.apellidos %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @funcionario.identificacion %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @funcionario.centro %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @funcionario.programa %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Atras', funcionarios_path %>
