<h1>Lista de Centros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
        <td><%= centro.nombre %></td>
        <td><%= link_to 'Ver', centro, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Editar', edit_centro_path(centro), :class => 'btn btn-mini'%></td>
        <td><%= link_to 'Eliminar', centro, method: :delete, data: { confirm: 'Esta seguro?' }, 
        :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Centro', new_centro_path, :class => 'btn btn-primary' %>
